.title {
  padding: 10px 10px 10px 10px;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 10px;
  color: gray;
}

.writeWrap {
  margin-top: 10px;
  margin-left: 10px;
}

.goDetail {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
